.form {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    &-text {
        width: 100%;
        min-height: fit-content;
        border-radius: 5px;
    }
    &-btn {
        width: 5rem;
        align-self: flex-end;
    }
}